@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Sarala&family=Titillium+Web:wght@200&display=swap');
* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Sarala', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0px;
}

.container h1 {
    font-size: 30px;
}

.ingredientes-escolhidos {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    height: 500px;
}

.ingredientes-escolhidos p {
    margin: 35px 0px;
}

.bebidas-escolhidas {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    height: 300px;
}

.bebidas-escolhidas p {
    margin: 20px 0px;
}

.bebidas-escolhidas img {
    width: 50px;
    height: 50px;
}

.pagamento {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    height: 300px;
}

.fantaimg {
    margin-left: 37px;
}

.guaranaimg {
    margin-left: 10px;
}

.pagamento p {
    margin: 30px 0px;
}

.valor {
    text-align: center;
}